<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'TYOA.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'TYOA.Melee'}} ({{mod system.scores.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'TYOA.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'TYOA.SpokenLanguages'}} ({{localize system.languages.spoken}} {{system.langTotal}})
      </li>
      <li>
        {{localize 'TYOA.Literacy'}} ({{localize system.languages.literacy}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'TYOA.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'TYOA.Missile'}} ({{mod system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'TYOA.Initiative'}} ({{mod system.scores.dex.init}})
      </li>
      <li>
        {{localize 'TYOA.ArmorClass'}} ({{mod system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'TYOA.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'TYOA.Health'}} ({{mod system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'TYOA.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'TYOA.NPCReaction'}} ({{mod system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'TYOA.RetainersMax'}} ({{add system.scores.cha.mod 4}})
      </li>
      <li>
        {{localize 'TYOA.Loyalty'}} ({{add system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>