<form autocomplete="off">
  <div class="dialog-tweaks">
    <div class="row">
      {{#if (eq this.type 'character')}}
      <div class="column">
        <div class="form-group">
          <label>{{localize "TYOA.InitiativeBonus"}}</label>
          <div class="form-fields">
            <input type="number" name="system.initiative.mod" id="initiative" value="{{system.initiative.mod}}"
              data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "TYOA.ArmorClassBonusMelee"}}</label>
          <div class="form-fields">
            <input type="number" name="system.aacm.mod" id="aacm" value="{{system.aacm.mod}}"
             data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "TYOA.ArmorClassBonusRanged"}}</label>
          <div class="form-fields">
            <input type="number" name="system.aacr.mod" id="aacr" value="{{system.aacr.mod}}"
             data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize "TYOA.DBShort"}}</label>
          <div class="form-fields">
            <input type="number" name="system.damageBonus" id="damageBonus" value="{{system.damageBonus}}"
             data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'TYOA.movement.bonus'}}</label>
          <div class="form-fields">
            <input type="number" name="system.movement.bonus" id="movement" value="{{system.movement.bonus}}"
              data-dtype="Number" />
          </div>
        </div>
      </div>
      {{/if}}
    <footer class="sheet-footer">
      <button type="submit">
        <i class="fas fa-save"></i>{{localize "Save Changes"}}
      </button>
    </footer>
  </div>
</form>