<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'TYOA.details.name'}}" data-dtype="String" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex1">
      <input type="text" name="system.details.ancestry" value="{{system.details.ancestry}}" data-dtype="String" />
      <label>{{localize 'TYOA.details.ancestry'}}</label>
    </li>
    <li class="flex2">
      <input type="text" name="system.details.personality" value="{{system.details.personality}}" data-dtype="String" />
      <label>{{localize 'TYOA.details.personality'}}</label>
    </li>
  </ul>
  <ul class="summary flexrow">
    <li class="flex2">
      <input type="text" name="system.details.culture" value="{{system.details.culture}}" data-dtype="String" />
      <label>{{localize 'TYOA.details.culture'}}</label>
    </li>
    <li>
      <input type="number" name="system.details.age" value="{{system.details.age}}" data-dtype="Number" />
      <label>{{localize 'TYOA.details.age'}}</label>
    </li>
    <li class="skillPoints">
      <input type="number" name="system.details.points.value" value="{{system.details.points.value}}" data-dtype="Number" />
      <label>{{localize 'TYOA.details.points.value'}}</label>
    </li>
    <li class="spentSkillPoints">
      <input type="number" name="system.details.points.spent" value="{{system.details.points.spent}}" data-dtype="Number" />
      <label>{{localize 'TYOA.details.points.spent'}}</label>
    </li>
  </ul>
</section>